*{
    margin: 0px;

    padding: 0px;
    box-sizing: border-box;
}

body{
   
   
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,51,0.6418942577030813) 37%, rgba(0,212,255,1) 100%);
}